<?php

return [
  'driver' => '{{ getenv "INVOICENINJA_MAIL_DRIVER" }}',
  'host' => '{{ getenv "INVOICENINJA_MAIL_HOST" }}',
  'port' => {{ getenv "INVOICENINJA_MAIL_PORT" }},
  'from' => [
    'address' => '{{ getenv "INVOICENINJA_MAIL_FROM_ADDRESS" }}',
    'name' => '{{ getenv "INVOICENINJA_MAIL_FROM_NAME" }}',
  ],
  'encryption' => '{{ getenv "INVOICENINJA_MAIL_ENCRYPTION" }}',
  'username' => '{{ getenv "INVOICENINJA_MAIL_USERNAME" }}',
  'password' => '{{ getenv "INVOICENINJA_MAIL_PASSWORD" }}',
  'sendmail' => '/usr/sbin/sendmail -bs',
];
